.aside .logo a::after{
    border-top: 4px solid #ec1893;
    border-right: 4px solid #ec1893;
}
.aside .logo a::before{
    border-bottom: 4px solid #ec1893;
    border-left: 4px solid #ec1893;
}
.aside .nav li a:hover,
.aside .nav li a.active{
    color: #ec1893;
}

.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a{
    background-color: #ec1893;
}
